-# encoding: utf-8
!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml")
	!= include 'views/invisible_header.haml'

	%body
		!= include 'views/visible_header.haml'

		-if threads.length > 0
			%ol.hfeed
				!= include_for_each threads, 'views/thread_summary.haml'
		-else
			%p There are no more threads to display.

		-if threads.last
			%a.prev{:href => "?#{seen}&start=#{threads.last[:article_num]}"}
				Older »
