-# encoding: utf-8
%li.hentry
	%a.entry-title(rel="bookmark" href="#{@env['config']['subdirectory']}/thread/#{item[:message_id][1..-2]}")
		= item[:subject]
	%span.author
		-if item[:photo]
			%img.photo{:src => item[:photo], :alt => "Avatar"}
		%span.fn
			= item[:from].sub(/"?\s*<[^>]*>\s*/,'').sub(/^"/, '')
	%time.published{:datetime => item[:date].iso8601}
		= item[:date].strftime('%Y-%m-%d')
	%time.updated{:datetime => (item[:updated] || item[:date]).iso8601}
		= (item[:updated] || item[:date]).strftime('%Y-%m-%d')
	-if item[:newsgroups] && item[:newsgroups].length > 0
		Also in:
		%ul.newsgroups
			!= each_tag item[:newsgroups], '%li= item'
	-if item[:followup_to]
		%span.followup
			Replies go to #{item[:followup_to]}
	-if item[:body]
		%a.action{:href => uri("mailto:%s?subject=%s&In-Reply-To=%s&body=%s", item[:from], 'Re: ' + item[:subject].sub(/^Re:\s*/,''), item[:message_id], item[:text].gsub(/^[ \t]*/, '> '))}
			Reply to author
		%a.action(href="#{@env['config']['subdirectory']}/post/?message_id=#{item[:message_id][1..-2]}")
			Reply to thread
		%div.entry-content
			!= item[:body]
